<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assess3.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="assess3.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Reactivity in Action</h1>
    </header>
    <section id="assignment">
      <button @click="add5()">Add 5</button>
      <button @click="add1()">Add 1</button>
      <!-- 1) Connect the buttons and calculate a value (a number) -->
      <!-- Show "Not there yet" until you reach a result of exactly 37 -->
      <!-- Show "Too much!" if the result is greater than 37 -->
      <p>Result : {{result}}</p>
      <!-- 2) Watch for changes in "result" and reset the value to 0 after 5 seconds -->
    </section>
  </body>
</html>


<section id="assignment">
  <!-- 1) Fetch the user input and use it as a CSS class -->
  <!-- The entered class should be added to the below paragraph -->
  <input type="text" v-model="inputClass"/>
  <!-- (available classes: "user1", "user2") -->
  <p :class="input">
    Style me!
  </p>
  <button @click="toggleParagraphVisibility" >Toggle Paragraph</button>
  <!-- 2) Use the "visible" and "hidden" classes to show/ hide the above paragraph -->
  <!-- Clicking the button should toggle between the two options -->

  <!-- 3) Add dynamic inline styling to the below paragraph and let the user enter a background-color -->
  <input type="text" v-model="inputBackgroundColor" />
  <p :style="{backgroundColor: inputBackgroundColor}">Style Me</p>
</section>